body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(116, 255, 146);
 }

 header {
     height: 12rem;
     width: 100%;
 }

 h1{
    text-align: center;
    color: rgb(19, 21, 158);
    font-size: 8rem;  
    font-weight: bold;
 }

 main {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     margin-top: 3%;
 }

 .card p:hover{
    color:rgb(219, 19, 29);
     text-shadow: 0 0 10px #be2525;
 }

 .a :hover{
    color:rgb(219, 19, 29);
     text-shadow: 0 0 10px #2596be;
 }

 .list-group {
     padding: 5%;
 }

 h6 {
     font-weight: bold;
     color: rgb(122, 19, 19);
 }
