body {
    font-family: 'Kalam', cursive;
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
 }

 header {
     height: 10rem;
     width: 100%;
     background-color: rgb(245, 59, 59);
    
 }

 h1{
    text-align: center;
    color: white;
    font-size: 8rem;  
    font-weight: bold;
 }

 main {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     margin-top: 5%;
 }

 .card {
background: linear-gradient(90deg, rgb(218, 78, 101) 16%, rgba(37,150,190,1) 52%, rgba(162,225,247,1) 90%);
 }

 .card p:hover{
    color:white;
     text-shadow: 0 0 10px #2596be;
 }

 .list-group {
     padding: 5%;
 }

 h5 {
     font-weight: bold;
 }
